pandas
numpy
torch
torchvision
torchaudio
scikit-learn
transformers
rouge-score
bert-score
beautifulsoup4
python-dateutil
regex
seaborn
matplotlib
tqdm
pyarrow
gensim
fasttext-wheel
requests